<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<h3>Home Page for Blogs App</h3>

<h2>Below are all the Posts submitted by our Users</h2>

<% @posts.each do |p| %>

	<b>Title:</b> <%= p.title %>
	<br>
	<b>Content:</b> <%= p.content %>
	<br>
	<b>Creator:</b> <%= p.user.email %>
	<br>
	<b>Creator ID:</b> <%= p.user_id %>
	<br>
	<a href="/posts/<%= p.id %>"><b>Show Post</b></a>
	<hr>
<% end %>