<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Blogger Stupendous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <a href="/">Home</a>
    <br>
    <% if user_signed_in? %>
      Logged in User<br> 
      <b>Email: </b><%= current_user.email %><br>
      <b>ID: </b><%= current_user.id %> 
      <br>
      <a href="/users/edit"><b>Edit User</a>
      <br>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></b>
      <br><br>
      <a href="/posts/new">New Post</a>
    <% else %>
     <a href="/users/sign_in">Sign In</a>
     <a href="/users/sign_up">Sign Up</a>
   <% end %>
   
    <%= yield %>
    <!-- <p class='notice'><%= notice %></p> -->
    <!-- <p class='alert'><%= alert %></p> -->
  </body>
</html>
